<div class="category-edit">
  <%= render partial: "home/nav-category" %>
  <div class="edit-container">
    <h1>Editing Category</h1>
    <%= render "form", category: @category, user: @current_user %>
    <div class="edit-btn">
      <%= link_to "Back to category", authenticated_root_path %>
    </div>
  </div>
</div>
